Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
Flask-WTF==1.1.1
Werkzeug==2.3.7
psycopg2-binary
gunicorn==21.2.0
cloudinary==1.36.0
alembic==1.13.1
python-dotenv
